apiVersion: v1
kind: Service
metadata:
  name: next-app-service
  namespace: dev
spec:
  selector:
    app: next-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000 
      nodePort: 30000
  type: NodePort