apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: dev
type: Opaque
stringData:
  POSTGRES_USER: myuser
  POSTGRES_PASSWORD: mysecretpassword
  POSTGRES_DB: mydatabase
  DATABASE_URL: postgres://myuser:mysecretpassword@postgres-service:5432/mydatabase
  DATABASE_URL_EXTERNAL: postgres://myuser:mysecretpassword@localhost:5432/mydatabase
  
  SECRET_KEY: my-secret
  
  REDIS_PASSWORD: myredispassword